<!doctype html>
<html ng-app='LunchCheck' lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
  </head>
<body>
   <div ng-controller='LunchCheckController' class="container">


         <div  class="form-group">
             <textarea
             class="form-control"
             ng-model="chatMessages" ng-readonly="chatMessages"></textarea>
         </div>
         <div class="form-group">
             <input id="messageToSend" type="text"
                    placeholder="message"
                    class="form-control"
                    ng-model="message">
             <button ng-click="sendMessage(message)" class="btn btn-default">Send</button>
         </div>

   </div>

</body>
</html>
