<!doctype html>
<html ng-app='ChatClient' lang="en">
  <head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
      <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  </head>
<body>
<form>
   <div ng-controller='ChatClientController as chatController' class="container">

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="nickName">Enter nickname:</label>

    <input id="nickName" type="text"
           ng-model="clientName">
        </div>
        <div class="form-group col-md-6">
    <button ng-click="chatController.setClientName(clientName)" class="btn btn-default"
            ng-disabled="statusOfClient=='Connected!'">Connect</button>

    {{statusOfClient}}

        </div>
    </div>
</div>

        <div class="form-row">
             <div class="form-group col-md-8">
                 <uib-tabset active="active">
                     <uib-tab index="$index+1" ng-repeat="tab in chatController.tabs" heading="{{tab.title}}" disable="tab.disabled" select="chatController.setActiveTab($index)">
                         <textarea style="resize:none"
                                   rows="8"
                                   class="form-control"
                                   ng-model="tab.chatMessages"></textarea>

                     </uib-tab>
                 </uib-tabset>

               </div>
             <div class="form-group col-md-4">
             <select size="13" style="width: 350px;" ng-model="users" ng-options="u.nickName for u in onlineUsers" ng-dblclick="chatController.selectForPrivate()">
                 <option value="" selected hidden/>
             </select>
             </div>
         </div>

       <div class="form-row">
         <div class="form-group col-md-12">
             <input id="messageToSend" type="text"
                    placeholder="message"
                    class="form-control"
                    ng-model="message"
             ng-disabled="statusOfClient!='Connected!'">
         </div>

           <div class="form-row">
               <div class="col-md-10">
                    <button ng-click="chatController.sendMessage(message)" class="btn btn-default">Send</button>
               </div>
           </div>


   </div>

</form>
</body>
</html>
